@model FizzyBubbly_MVC.Models.FizzBuzz;
@{
    ViewData["Title"] = "See the Fizz";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row row-cols-1 row-cols-lg-2">
        <div class="col mt-3 border-end border-2 order-first order-lg-first d-flex flex-column justify-content-center h-100">
            <div class="text-center">
                <img src="~/img/FizzyBubbly.svg" class="img-fluid" alt="Fizzy Bubbly Logo" height="300" width="300">
            </div>
            <h1 class="display-5">A coding project : </h1>
            <p class="lead">
                Fizzing and Bubbling all the way! Counting from 1 to 100, if the
                number is a multiple of Fizzy it's <span class="fw-bold"> Fizz</span>.
                If it's a multiple of Bubbly, it's a <span class="fw-bold">Buzz</span>. If it's both, OH Boy,
                it's <span class="fw-bold">FizzBuzz</span> !
                Enter each number in it's own input and see what happens.
            </p>
        </div>
        <div class="col mt-4">
            <h5>Enter values :</h5>
            <form class="row" asp-controller="Home" asp-action="Fizzy" method="post">
                <div class="col">
                    <label asp-for="FizzValue" class="form-label">Fizz</label>
                    <input asp-for="FizzValue" class="form-control border-danger" type="number" aria-label="Fizz value"
                           placeholder="3" value="@Model.FizzValue">
                </div>
                <div class="col">
                    <label asp-for="BuzzValue" class="form-label">Buzz</label>
                    <input class="form-control border-danger" type="number" asp-for="BuzzValue" aria-label="Buzz value"
                           placeholder="5" value="@Model.BuzzValue">
                </div>
                <div class="row mt-2 d-flex justify-content-end">
                    <button class="btn btn-outline-dark w-auto" type="submit">
                        Bubbly!
                    </button>
                </div>
            </form>
            <h5 class="mt-3 border-bottom border-1">Results :</h5>
            <div class="table-responsive col-12">
                <table class="table table-striped">
                    <tbody id="results">
                        <!-- Results go here -->
                        @if ( Model.Results.Count() > 0 )
                        {
                            var count = 0;
                            for ( int i = 1; i <= 20; i++ )
                            {
                                <tr>
                                    @for(int j = 0; j < 5; j++ )
                                    {
                                        if ( Model.Results[count] == "Fizz" )
                                        {
                                            <td class="ms-auto text-success">@Model.Results[count]</td>
                                        }
                                        else if ( Model.Results[count] == "Buzz" )
                                        {
                                            <td class="ms-auto text-primary">@Model.Results[count]</td>
                                        }
                                        else if ( Model.Results[count] == "FizzBuzz" )
                                        {
                                            <td class="ms-auto fw-bold text-danger">@Model.Results[count]</td>
                                        }
                                        else
                                        { 
                                            <td class="ms-auto">@Model.Results[count]</td>
                                        }
                                        count++;
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
